.intro {
  height: 100vh;
  background: #0b0b0b;
  position: relative;
  overflow: hidden;
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.intro-content h1 {
  font-size: 4rem;
  margin-bottom: 30px;
}

.loader {
  width: 300px;
  height: 8px;
  background: #222;
  border-radius: 20px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00ffff, #0077ff);
  transition: width 0.1s;
}

#percent {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
